<li id="uploadPdfButton" onClick="return false;">
  <a title="SketchSpace upload PDF" class="sketchSpaceAddPdfImage" href="javascript:void(0);"><span class="buttonicon buttonicon-insert-pdf"></span></a>
</li>
